---
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";

import { slugify, formatBlogPosts } from "../../scripts/utils";

export async function getStaticPaths() {
  const getBlogPosts = await Astro.glob("../blog/*.md");
  const formattedPosts = formatBlogPosts(getBlogPosts);
  const allCategories = [
    ...new Set(formattedPosts.map((post) => post.frontmatter.category)),
  ];
  return allCategories.map((category) => {
    const categoryPosts = formattedPosts.filter(
      (post) => post.frontmatter.category === category
    );
    return {
      params: { category: slugify(category) },
      props: {
        categoryName: category,
        posts: categoryPosts,
      },
    };
  });
}

const { category } = Astro.params;
const { categoryName, posts } = Astro.props;
---

<MainLayout title={categoryName}>
  <section class="container" aria-label={`Posts about ${categoryName}`}>
    <h1 class="h1">Posts about <span>{categoryName}</span></h1>
    <div class="post-container">
      {
        posts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h2"
          />
        ))
      }
    </div>
  </section>
</MainLayout>
